body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agregar-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.agregar-button:hover {
  background-color: #45a049;
}

.nombre-cancion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.nombre-cancion:hover {
  background-color: #f0f0f0;
}

.boton-eliminar {
  font-size: 24px;
}

.escuchando::before {
  content: '▶'; /* Play icon */
  margin-right: 10px;
  font-size: 1.2em;
}

#cancion-en-reproduccion {
  cursor: pointer;
  text-align: center;
}

#cancion-en-reproduccion:hover {
  color: #4CAF50;
}

.regresar-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.regresar-button:hover {
  background-color: #d32f2f;
}

.history-section {
  margin-top: 20px;
}

.history-section h2 {
  margin-bottom: 10px;
}

.history-section .regresar-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.history-section .regresar-button:hover {
  background-color: #d32f2f;
}

/* Estilo para el botón de crear canción */
#crear-cancion-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#crear-cancion-button:hover {
  background-color: #45a049;
}

/* Estilo para el botón de regresar */
.regresar-button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.regresar-button:hover {
  background-color: #2980b9;
}

/* Estilo para el botón de eliminar */
.boton-eliminar {
  color: #e74c3c;
  cursor: pointer;
  margin-left: 10px;
}

.boton-eliminar:hover {
  color: #c0392b;
}

/* Estilo para la lista de canciones y elementos de la lista */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.playlist-section,
.historial-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 70%;
}

.playlist-section h2,
.historial-section h2 {
  margin-bottom: 10px;
}

.nombre-cancion {
  cursor: pointer;
  margin-bottom: 5px;
}

.nombre-cancion:hover {
  text-decoration: underline;
}
